<div class="foot">
	<div class="foot-logo">
		<div class="pic"></div>
	</div>
	<div class="foot-nav">
		<ul>
			<li>
				<a href="javascript:;">联系我们</a>
			</li>
			<li>
				<a href="javascript:;">运费说明</a>
			</li>
			<li>
				<a href="javascript:;">关于我们</a>
			</li>
		</ul>
	</div>
	<div class="foot-icon">
		<div class="icon">
			<a href="javascript:;"></a>
			<a href="javascript:;"></a>
			<a href="javascript:;"></a>
		</div>
	</div>
	<div class="foot-text">
		<p>
			<span>订购专线：400-018-0088</span><br /> 客服在线时间：8:00-22:00
			<br /> 生日蛋糕类目前只限北京地区订购，小甜品可发全国。特殊说明请致电客服
			<br /> 注册公司名称：北京辛迪焙瑞食品有限公司
			<br /> 地址：北京市经济技术开发区BDA国际港3-4-203
			<br />
		</p>
	</div>
	<div class="foot-copyright">
		<p>Copyright© 2017 北京辛迪焙瑞食品有限公司, 版权所有 京ICP备16061793号-2</p>
	</div>
</div>