@mixin center-block {
	margin-left: auto;
	margin-right: auto;
}

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

html,body {
	font-family: "microsoft yahei";
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

/* header */

header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 2;
}
